p{
    color:bisque;
    font-size: 20px;
}

.centrado{
    text-align: center;
}

#lista{
    color: bisque;
}

.img-perfil{
    width: 270px;
	height: 270px;
    border-radius: 100%;
    padding: 2rem 2rem;
}

body{
    background-color: #33475b;
} 

#link{
    color: coral;
}

li{
    font-size: 18px;
}